body {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       background-color: #CCCCCC;
       margin: 3rem;
       width: 790px;
       
}

.container {
       background-color: #210D24 ;
       border-radius: 5px;
       box-shadow: 1px 3px 8px 10px rgba(0, 0, 0, 0.2);
       border-radius: 5px;
}
.container-title {
       color: #FECD23;
       text-align: center;
       font-size: 2rem;
       font-weight: 500;
       padding-top: 1rem;
       
}
.container-text {
       color: #ECECEB ;
       text-align: center;
       font-size: 1rem;
       padding: 1rem;
}
.container-box {
       background-color: #5D1D67;
       margin: 1.5rem;
       border-radius: 5px;
       flex-direction: row
}
.container-subtitle {
       color: #ECECEB ;
       text-align: center;
       font-size: 1.5rem;
       padding-bottom: 1rem;
       padding-top: 1rem;
}
.container-form {
       text-align: center;
}
input {
       width: 27.5rem;
       border-radius: 5px;
       height: 1.56rem;
       border: 0;
       
}
input:focus{
       outline: none;
}
.container-cards {
       display: flex;
       padding-top: 2rem;
       padding: 2rem;
       justify-content: space-around;
       
       
       
}
.cards {

       background-color:#4A77F3 ;
       border-radius: 5px;
       border: 8px solid #2637DB ;
       
}
.cards-title {
       text-align: center;
       padding-top: 1rem;
       color: #ECECEB;
       font-size: 1.25rem;
}
.cards-img {
       text-align: center;
}
img {
     width: 60%;
}
button {
       width: 6.2rem;
       padding: 0.62rem;
       background-color: #1D0C20;
       color: #ECECEB;
       font-size: 100%;
       border-radius: 5px;
}
.cards-btn {
       text-align: center;
       padding-bottom: 0.6rem;
}
.footer {
       color: #ECECEB;
       text-align: center;
       padding-bottom: 3px;


}
@media screen and (max-width: 790px) {

       body{
              width: 375px;
              margin: auto;
       }

       .container-cards {
              
              flex-direction: column;
              
       }
       .cards {
              margin-bottom: 1rem;
       }
       .footer {
              font-size: 12px;
       }
       input {

              width: 12rem;
       }
       .container-text {

              font-size: 0.7rem;
              padding-bottom: 0px;
       }
       .container-subtitle {
              font-size: 1.3rem;
              
       }
       .container-title {
              font-size: 3rem;
       }


       
}