body {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       background-color: #CCCCCC;

       margin: 3rem;
       
}

.container {
       background-color: #210D24 ;
       border-radius: 5px;

       box-shadow: 1px 3px 8px 10px rgba(0, 0, 0, 0.2);
       border-radius: 5px;
       overflow: hidden;
}
.container-title {
       color: #FECD23;
       text-align: center;
       font-size: 2rem;
       font-weight: 500;
       padding-top: 1rem;
       
}
.container-text {
       color: #ECECEB ;
       text-align: center;
       font-size: 1rem;
       padding: 1rem;
}
.container-box {
       background-color: #5D1D67;
       margin: 1rem;
       border-radius: 5px;
}
.container-subtitle {
       color: #ECECEB ;
       text-align: center;
       font-size: 1.2rem;
       padding-bottom: 1rem;
       padding-top: 1rem;
}
.container-form {
       text-align: center;
}
input {
       width: 70%;
       border-radius: 5px;
       height: 1.56rem;
       border: 0;
       
}
input:focus{
       outline: none;
}
.container-cards {
       display: flex;
       padding-top: 2rem;
       padding: 2rem;
       justify-content: space-between;
       
       
}
.cards {

       background-color:#4A77F3 ;
       border-radius: 5px;
       border: 8px solid #2637DB ;
       
}
.cards-title {
       text-align: center;
       padding-top: 1rem;
       color: #ECECEB;
       font-size: 1.25rem;
}
.cards-img {
       text-align: center;
}
img {
     width: 60%;
}
button {
       width: 6.2rem;
       padding: 0.62rem;
       background-color: #1D0C20;
       color: #ECECEB;
       font-size: 100%;
       border-radius: 5px;
}
.cards-btn {
       text-align: center;
       padding-bottom: 0.6rem;
}
.footer {
       color: #ECECEB;
       text-align: center;
       padding-bottom: 1px;

}
@media screen and (max-width: 620px) {

       .container-cards {
              
              flex-direction: column;
              
       }
       .cards {
              margin-bottom: 1.5rem;
       }
       .footer {
              font-size: 12px;
       }


       
}
@media screen and (min-width: 800px) {


       .container-cards {
              
              flex-direction: row;
              justify-content:space-around;
              
       }
}